body {
  max-width: 1400px;
}
/* 
================= STYLE TO home-conteiner ================    
*/
.home-conteiner {
}
.logo-block {
  display: flex;
  margin: 0 auto;
}
.logo {
  width: 30%;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
}
.menu-block {
}
.menu {
}
.menu-item {
  display: inline;
}
/* END Block home-conteiner*/

/* 
================= STYLE TO about-us-conteiner ================    
*/
.about-us-conteiner {
}
/* END Block about-us-conteiner*/

/* 
================= STYLE TO blog-conteiner ================    
*/
.blog-conteiner {
}
/* END Block blog-conteiner*/

/* 
================= STYLE TO service-conteiner ================    
*/
.service-conteiner {
}
/* END Block service-conteiner*/

/* 
================= STYLE TO pages-conteiner ================    
*/
.pages-conteiner {
  background-color: #599dd8;
  padding: 10px 10px 10px 10px;
}
.social-page-list {
}
.social-page-list-item {
  display: inline;
  margin: 0 auto;
}
.social-page-link {
}
.social-page-img {
}
/* END Block pages-conteiner*/

/* 
================= STYLE TO contacts-conteiner ================    
*/
.contacts-conteiner {
}
/* END Block contacts-conteiner*/
